@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    h1 {
        @apply text-4xl text-white mb-3 font-semibold;
    }
    h2 {
        @apply text-3xl text-white font-semibold;
    }
    h3 {
        @apply text-2xl text-white font-semibold;
    }
    h4 {
        @apply text-xl text-white font-semibold;
    }
    h5 {
        @apply text-base text-white font-semibold;
    }
    h6 {
        @apply text-sm text-white font-semibold;
    }
    p {
        @apply text-base text-white mb-3;
    }
    .text-small {
        @apply text-sm text-white mb-6;
    }
    ul {
        @apply list-disc text-white mb-2;
    }
    ol {
        @apply list-decimal text-white mb-6;
    }
    li {
        @apply list-inside text-white mb-2 font-semibold;
    }
    .link {
        @apply text-aqua-500 font-semibold relative cursor-pointer;
    }
    html {
        font-family: Proxima Nova, system-ui, sans-serif;
        @apply bg-grey-100;
    }
    .gradient-border {
        background: linear-gradient(65deg, #07BEB8, #9CEAEF, #E5FFFC);
    }
    .dev-motion {
        stroke: #07BEB8;
        stroke-width: 2px;
        stroke-dashoffset: -2000;
        stroke-dasharray: 2000;
        animation-name: dev-motion;
        animation-duration: 3s;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    }        
    @keyframes dev-motion {
        0% {
            stroke-dashoffset: -2000;
            stroke: #07BEB8;
        }
        30% {
            stroke: #9CEAEF;
        }
        50% {
            stroke: #C4FFF9;
        }
        70% {
            stroke: #68D8D6;
        }
        100% {
            stroke-dashoffset:0;  
            stroke: #68D8D6;
        }
    }
}